{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in data %}
                            <tr>
                                <td>{{ datas.produit.Nom }}</td>
                                <td>{{ datas.produit.Prix }}€</td>
                                <td>{{ datas.quantite }}</td>
                                <td>{{ datas.quantite * datas.produit.Prix }}€</td>
                                <td>
                                    <a href="{{ path('app_panier_add', {'id': datas.produit.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('app_panier_remove', {'id': datas.produit.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('app_panier_delete', {'id': datas.produit.id}) }}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% if total > 0 %}
                            <tr>
                                <td colspan="3">Total</td>
                                <td>{{ total }}€</td>
                                <td>
                                <a href="{{ path('app_panier_vider') }}" class="btn btn-danger">Vider</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
                {% if total > 0 %}
                    <a href="{{ path('app_commande_add') }}" class="btn btn-primary">Valider le panier</a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
