{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}

<section class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <form method="post" ">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes Connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

                 <label for="inputEmail" class="styled-label"><i class="fas fa-envelope"></i> Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control styled-input" placeholder="Entrez votre email" autocomplete="email" required autofocus>

                <label for="inputPassword" class="styled-label"><i class="fas fa-lock"></i> Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control styled-input" placeholder="Entrez votre mot de passe" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3 d-flex align-items-center">
    <input type="checkbox" name="_remember_me" class="styled-checkbox"> 
    <label>Se souvenir de moi</label>
</div>


                <button class="btn  btn-primary" type="submit" >
                    Se Connecter
                </button>
                <p class="centered-text">Vous n'êtes pas inscrit(e) ? <a href="{{ path('app_register')}}">M'inscrire</a></p>
            </form>
        </div>
    </div>

</section>

{% endblock %}
