{% extends 'base.html.twig' %}

{% block title %}Cozy Vibes{% endblock %}


{% block body %}
  <div class="banner">
    <img src="{{ asset('assets/images/banniere.png') }}" alt="banniere" class="img-fluid w-100">
  </div>

  <main class="container">
      <section class="row">
      <div class="col-12">
    <h1 class="my-4">Articles les plus vendus</h1>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-row overflow-auto">
      {% for produit in produits %}
        {% if produit.id in [16, 20, 3, 12] %}
        <div class="col-md-3 mb-3 mr-3">
          <div class="card h-300" style="margin:10px;">
            {% for media in produit.Media %}
                            <div class="carousel-item {{ loop.first ? 'active' }}">
                                <img src="{{ asset('uploads/' ~ media.lien) }}" class="produit-img d-block w-100" alt="{{ media.alt }}">
                            </div>
                        {% endfor %}
            <h1 class="lead">{{ produit.nom }}</h1>
            <p class="h6">Catégorie: {{ produit.categorie.nom }}</p>
            <p class="lead">Prix: {{ produit.prix }} €</p>
            <a href="{{ path('app_produit_details', {Slug: produit.Slug}) }}" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
</section>




    <section class="row">
  <div class="col-12">
    <h1 class="my-4">Catégories phares</h1>
  </div>
  {% for category in categories %}
    {% if category.id == 2 %}
      <div class="col-md-8 mb-3" style="height: 400px; position:relative;">
        <div class="card h-100" style="background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: top; ">
          <div class="card-body card-body-custom d-flex flex-column justify-content-between">
            <h5 class="display-2 mt-3">{{ category.nom }}</h5>
            <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="btn btn-primary">Voir les produits</a>
          </div>
        </div>
      </div>
    {% elseif category.id in [6, 3] %}
      <div class="col-md-4 mb-3 {{ category.id == 3 ? '6' : '3' }}" style="height: 400px;">
        <div class="card h-100" style="background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: top; position: relative;">
          <div class="card-body card-body-custom d-flex flex-column justify-content-between" >
            <h2 class="mt-3">{{ category.nom }}</h2>
            <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="btn btn-primary">Voir les produits</a>
          </div>
        </div>
      </div>
    {% elseif category.id == 7 %}
      <div class="col-md-8 mb-3" style="height: 400px;">
        <div class="card h-100" style="background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: center;">
          <div class="card-body card-body-custom d-flex flex-column justify-content-between" >
            <h5 class="display-2 mt-3">{{ category.nom }}</h5>
            <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="btn btn-primary">Voir les produits</a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>


    <section class="row">
      <div class="col-12">
        <h1 class="my-4">Plus d'articles sur nos sweats plaids</h1>
      </div>
      {% for category in categories %}
        {% if category.id in [9, 10, 11] %}
          <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:10px;">
            <div class="card h-100" >
              {% for medium in category.media %}
                <div class="img-container" style="height: 500px; overflow: hidden;">
                  <img class="card-img-top img-fluid" style="width: 100%; height: 100%; object-fit: cover;" src="{{ asset('uploads/' ~ medium.lien) }}" alt="{{ medium.altText|default(category.nom) }}">
                </div>
              {% endfor %}
              <div class="card-body">
                <h3 class="card-title">{{ category.nom }}</h3>
                <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="btn btn-primary">Voir les produits</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </main>
{% endblock %}
