{% extends 'base.html.twig' %}

{% block title %}Cozy Vibes{% endblock %}


{% block body %}
  <div class="banner">
    <img src="{{ asset('assets/images/banniere.png') }}" alt="banniere" class="img-fluid w-100">
  </div>

  <main class="container">
    <section class="row">
      <div class="col-12">
        <h1>Articles les plus vendus</h1>
      </div>
            {% for produit in produits %}
              {% if produit.id in [16, 20, 3, 12] %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <article class="card h-100">
                  {% for media in produit.Media %}
                    <div class="carousel-item {{ loop.first ? 'active' }}">
                      <img src="{{ asset('uploads/' ~ media.lien) }}" class="produit-img d-block w-100" alt="{{ media.alt }}">
                    </div>
                  {% endfor %}
                  <div class="card-body">
                    <h1 class="h2">{{ produit.nom }}</h1>
                    <p class="">Catégorie: {{ produit.categorie.nom }}</p>
                    <p class="h6">Prix: {{ produit.prix }} €</p>
                    <a href="{{ path('app_produit_details', {Slug: produit.Slug}) }}" class="btn btn-primary">Voir les détails</a>
                  </div>
                  </article>
                </div>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </section>

    <section class="row">
      <div class="col-12">
          <h1 class="my-4">Catégories phares</h1>
      </div>

      {% for category in categories %}
          {% if category.id == 2 %}
              <div class="col-md-8 mb-3">
                <div class="categorie card" style="height:700px; background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: top; ">
                  <div style="margin-top:400px; color:white;" class="card-body">
                    <h5  class="display-2 ">{{ category.nom }}</h5>
                    <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="sous-cat btn btn-primary">Voir les produits</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" >
                {% elseif category.id == 6 %}
                        <div class="categorie card col-sm-12 mb-3" style="height:360px; margin-top:20px; background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: top; ">
                            <div style="margin-top:200px; color:white;" class="card-body ">
                                <h5 class="h2">{{ category.nom }}</h5>
                                <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="sous-cat btn btn-primary">Voir les produits</a>
                            </div>
                        </div>
                {% elseif category.id == 3 %}
                    <div class="categorie card col-sm-12 mb-3" style="height:310px; background-image: url('{{ asset('uploads/' ~ category.media.first().lien) }}'); background-size: cover; background-position: center; ">
                      <div style="margin-top:200px; color:white;" class="card-body ">
                        <h5 class="h2">{{ category.nom }}</h5>
                        <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="sous-cat btn btn-primary">Voir les produits</a>
                    </div>
              </div>
          {% endif %}
      {% endfor %}
    </section>

    <section class="row">
      <div class="col-12">
        <h1 class="my-4">Trouvez le sweat plaid parfait pour votre style</h1>
      </div>
      {% for category in categories %}
        {% if category.id in [9, 10, 11] %}
          <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:10px;">
            <div class="card h-100" >
              {% for medium in category.media %}
                <div class="img-container" style="height: 500px; overflow: hidden;">
                  <img class="card-img-top img-fluid" style="width: 100%; height: 100%; object-fit: cover;" src="{{ asset('uploads/' ~ medium.lien) }}" alt="{{ medium.altText|default(category.nom) }}">
                </div>
              {% endfor %}
              <div class="card-body">
                <h3 class="card-title">{{ category.nom }}</h3>
                <a href="{{ path('app_categorie_list', {Slug: category.Slug}) }}" class="btn btn-primary">Voir les produits</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </main>
{% endblock %}
