{% extends 'base.html.twig' %}

{% block title %} {{ produit.nom}} {% endblock %}

{% block body %}
   

    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>{{ produit.nom}} </h1>
            </div>
                <div class="col-6">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            {% for interation in 1..produit.media|length%}
                                <button type="button" data-bs-target="#carouselExampleIndicators" 
                                data-bs-slide-to="{{ interation - 1}}" {{ (loop.first) ? 'class="active" aria-current="true"' : ''}} 
                                aria-label="Slide {{ interation }}"></button>
                            {% endfor %}   
                        </div>
                        <div class="carousel-inner">
                            {% for media in produit.Media %}
                                <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                <img src="{{ asset('uploads/' ~ media.lien) }}" class="d-block w-100" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p>Description: {{ produit.Type }}</p>
                    <p> Categorie: {{produit.categorie.nom}} </p>
                    <p> Prix: {{ produit.prix}}€ <p>
                    {% if produit.Stock > 0 %}
                        <a href="{{ path('app_panier_add', {'id': produit.id}) }}" class="btn btn-primary"> Ajouter au panier</a>
                    {%else%}
                        <p class="text-danger">Temporairement en rupture de stock</p>
                    {% endif %}
                </div>
        </section>
    </main>
{% endblock %}