{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
     <main class="container">
     <section class="row">
        <h1>Résultats de la recherche pour "{{ term }}"</h1>

    {% if produits is not empty %}
     
      
            {% for produit in produits %}



               <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <article class="card h-100">


                        <div class="position-relative">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">

                            {% for media in produit.Media %}
                                <div class="carousel-item {{ loop.first ? 'active' }}">
                                    <img src="{{ asset('uploads/' ~ media.lien) }}" class="produit-img d-block w-100" style="object-fit: cover;" alt="{{ media.alt }}">
                                </div>
                            {% endfor %}
                            </div>

                         <div class="card-body">
                            <h2 class="card-title">{{ produit.getNom() }}</h2>
                            <p class="card-text">{{ produit.getPrix()}} €</p>
                            <a href="{{ path('app_produit_details', {Slug: produit.Slug}) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                        </div>
                    </article>
                    
                </div>



            {% endfor %}
        </section> 
        </main>
     <main class="container">
     <section class="row">   
    {% else %}
    
        <p>Aucun produit trouvé pour "{{ term }}"</p>
      

    {% endif %}
      </section>
        </main>
{% endblock %}

                            
                                        
                           

