{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ categorie.nom }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="mb-4">Liste des produits de la catégorie {{ categorie.nom }}</h1>
            </div>
            {% for produits in categorie.produits %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <article class="card h-100 shadow-sm">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for media in produits.Media %}
                                    <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                        <img src="{{ asset('uploads/' ~ media.lien) }}" class="d-block w-100" alt="...">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ produits.nom }}</h5>
                            <p class="card-text">{{ produits.prix}} €</p>
                            <a href="{{ path('app_produit_details', {Slug: produits.Slug})}}" class="btn btn-primary"> Voir les détails</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
