{% extends 'base.html.twig' %}
{% block title %}Catégorie {{ categorie.nom }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des produits de la catégorie {{ categorie.nom }}</h1>
            </div>
            {% for produits in categorie.produits %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <article class="card h-100">
                    {% for media in produits.Media %}
                                <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                <img src="{{ asset('uploads/' ~ media.lien) }}" class="d-block w-100" alt="...">
                                </div>
                            {% endfor %}
                        <div class="card-body">
                            <h2 class="card-title">{{ produits.nom }}</h2>
                            <p class="card-text">{{ produits.prix}} €</p>
                            <a href="{{ path('app_produit_details', {Slug: produits.Slug})}}" class="btn btn-primary"> Voir les détails</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}